slasher/styles/styles.css
@keyframes swordSwing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.icon-container:hover img {
  animation: swordSwing 0.5s ease-in-out;
}