name: End-to-End Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: Install dependencies
      run: bun ci

    - name: Build
      run: bun run build && bun run build:firefox

    - name: Install Playwright Browsers
      run: bunx playwright install --with-deps

    - name: Run Playwright tests
      run: xvfb-run bunx playwright test
